---
http_interactions:
- request:
    method: get
    uri: https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Npg-Static:
      - 'no'
      X-Webhost:
      - web3
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n    <!--[if IE]>\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge,chrome=1\">\n<![endif]-->\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=2, user-scalable=1\" />\n    <meta name=\"csrf-token\"
        content=\"FjTiBHGeanZ4fDCfMEnbEiGyNtUvCvUmrUyEqd8A\" />\n\n    <link rel=\"preconnect\"
        href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\"
        crossorigin>\n    <link rel=\"preconnect\" href=\"https://mm-facility-pics.s3.amazonaws.com\">\n
        \   <link rel=\"dns-prefetch\" href=\"https://mm-facility-pics.s3.amazonaws.com\">\n\n
        \   <link rel=\"preload\" href=\"https://www.nsastorage.com/css/font-awesome.min.css\"
        as=\"style\" fetchpriority=\"high\" />\n    <link rel=\"preload\" href=\"/css/all.css?id=99c68e79538925b89839c9ae0bb971e1\"
        as=\"style\" fetchpriority=\"high\" />\n\n    \n\n        <meta property=\"og:site_name\"
        content=\"NSA Storage\">\n\n    <meta property=\"og:title\" content=\"SecurCare
        Self Storage on 7752 Jackson St in Paramount | Climate Controlled Storage,
        Car Storage | NSA Storage\">\n\n    <meta property=\"og:description\" content=\"Discover
        the best climate controlled self-storage at NSA Storage on 7752 Jackson St.
        Store with peace of mind at our clean and secure facilities.\">\n\n    <meta
        property=\"og:url\" content=\"https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876\">\n\n
        \   <meta property=\"og:image\" content=\"https://www.nsastorage.com/uploads/nsastorage/global_settings/A7RkZBCQLNJWiruoS4fJhcVaMNg3a1b7jlA2vIfA/o0QUbUxOr895g0FhDKyPC1QSINTefEgEWScTLjHo.png\">\n\n<meta
        property=\"og:type\" content=\"website\">\n\n    <title>SecurCare Self Storage
        on 7752 Jackson St in Paramount | Climate Controlled Storage, Car Storage
        | NSA Storage</title>\n\n    <meta name=\"description\" content=\"Discover
        the best climate controlled self-storage at NSA Storage on 7752 Jackson St.
        Store with peace of mind at our clean and secure facilities.\" />\n\n\n\n
        \   <link rel=\"canonical\" href=\"https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876\"
        />\n\n            <link rel=\"icon\" type=\"image/x-icon\" href=\"https://www.nsastorage.com/favicon/qMynMJDeAMqTcdh1KeUbYfiV2IVoWWv5DEt6kgGo.svg\">\n
        \   \n    <script class=\"structured-data-widget\" type=\"application/ld+json\">\n{\n
        \   \"<?php $__contextArgs = [];\\nif (context()->has($__contextArgs[0]))
        :\\nif (isset($value)) { $__contextPrevious[] = $value; }\\n$value = context()->get($__contextArgs[0]);
        ?>\": \"https://schema.org\",\n    \"@type\": \"WebSite\",\n    \"url\": \"https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876\",\n
        \   \"name\": \"NSA Storage\",\n    \"alternateName\": [\n        \"NSA\",\n
        \       \"NSA Storage\",\n        \"NSA Self Storage\",\n        \"National
        Storage Affiliates\"\n    ],\n    \"description\": \"Local Leaders in Self
        Storage. Featuring 1000+ secure and affordable self storage facilities in
        42 states.\",\n    \"keywords\": \"storage, storage near me, self-storage\",\n
        \   \"potentialAction\": {\n        \"@type\": \"SearchAction\",\n        \"target\":
        \"https://www.nsastorage.com/search-results?location={search_term_string}\",\n
        \       \"query-input\": \"required name=search_term_string\"\n    }\n}\n</script>\n\n
        \           <script class=\"structured-data-widget\" type=\"application/ld+json\">{\"@context\":\"https:\\/\\/schema.org\",\"@type\":\"Organization\",\"name\":\"NSA
        Storage\",\"url\":\"https:\\/\\/www.nsastorage.com\",\"logo\":\"https:\\/\\/www.nsastorage.com\\/uploads\\/nsastorage\\/global_settings\\/A7RkZBCQLNJWiruoS4fJhcVaMNg3a1b7jlA2vIfA\\/o0QUbUxOr895g0FhDKyPC1QSINTefEgEWScTLjHo.png\",\"sameAs\":[\"https:\\/\\/www.nsastorage.com\",\"https:\\/\\/www.facebook.com\\/profile.php?id=61555660056437\",\"https:\\/\\/twitter.com\\/NSA_SelfStorage\",\"https:\\/\\/www.linkedin.com\\/company\\/nsa-storage\\/\",\"https:\\/\\/www.pinterest.com\\/NSA_Storage\\/\",\"https:\\/\\/www.instagram.com\\/nsa.selfstorage\\/\"],\"contactPoint\":[{\"@type\":\"ContactPoint\",\"telephone\":\"+1
        (844) 434-1150\",\"contactType\":\"customer service\",\"areaServed\":\"US\"}]}</script>\n
        \                           <script class=\"structured-data-widget\" type=\"application/ld+json\">\n
        \   {\"@context\":\"https://schema.org\",\"@type\":\"SelfStorage\",\"address\":{\"@type\":\"PostalAddress\",\"addressLocality\":\"Paramount\",\"addressCountry\":\"US\",\"addressRegion\":\"CA\",\"postalCode\":\"90723\",\"streetAddress\":\"7752
        Jackson St\"},\"name\":\"SecurCare Self Storage | Jackson St\",\"image\":\"\",\"openingHoursSpecification\":[{\"@type\":\"OpeningHoursSpecification\",\"dayOfWeek\":[\"Monday\",\"Tuesday\",\"Wednesday\",\"Thursday\",\"Friday\",\"Saturday\",\"Sunday\"],\"opens\":\"00:00\",\"closes\":\"23:59\"}],\"telephone\":\"(562)
        268-4138\",\"url\":\"https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876\",\"priceRange\":\"$26
        and up\",\"review\":[{\"@type\":\"Review\",\"reviewRating\":{\"@type\":\"Rating\",\"ratingValue\":5,\"bestRating\":5,\"worstRating\":1},\"author\":{\"@type\":\"Person\",\"name\":\"Dave
        Free\"},\"datePublished\":\"2026-05-21T00:00:00+00:00\"},{\"@type\":\"Review\",\"reviewRating\":{\"@type\":\"Rating\",\"ratingValue\":5,\"bestRating\":5,\"worstRating\":1},\"author\":{\"@type\":\"Person\",\"name\":\"Jesus
        Quintero\"},\"datePublished\":\"2026-05-21T00:00:00+00:00\"},{\"@type\":\"Review\",\"reviewRating\":{\"@type\":\"Rating\",\"ratingValue\":5,\"bestRating\":5,\"worstRating\":1},\"author\":{\"@type\":\"Person\",\"name\":\"Mike
        Ganaway\"},\"datePublished\":\"2026-05-06T00:00:00+00:00\"}],\"aggregateRating\":{\"@context\":\"https://schema.org/\",\"@type\":\"AggregateRating\",\"ratingValue\":\"4.4\",\"reviewCount\":197,\"bestRating\":5,\"worstRating\":1}}\n</script>\n
        \       \n            <script type=\"application/ld+json\">{\"@context\":\"https:\\/\\/schema.org\",\"@type\":\"BreadcrumbList\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"item\":{\"@id\":\"https:\\/\\/www.nsastorage.com\",\"name\":\"Home\"}},{\"@type\":\"ListItem\",\"position\":2,\"item\":{\"@id\":\"https:\\/\\/www.nsastorage.com\\/storage\",\"name\":\"Locations\"}},{\"@type\":\"ListItem\",\"position\":3,\"item\":{\"@id\":\"https:\\/\\/www.nsastorage.com\\/storage\\/california\",\"name\":\"California\"}},{\"@type\":\"ListItem\",\"position\":4,\"item\":{\"@id\":\"https:\\/\\/www.nsastorage.com\\/storage\\/california\\/storage-units-paramount\",\"name\":\"Paramount\"}},{\"@type\":\"ListItem\",\"position\":5,\"item\":{\"@id\":\"https:\\/\\/www.nsastorage.com\\/storage\\/california\\/storage-units-paramount\\/7752-Jackson-St-876\",\"name\":\"7752
        Jackson St\"}}]}</script>\n    \n    <link rel=\"stylesheet\" href=\"https://www.nsastorage.com/css/font-awesome.min.css\">\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"/css/all.min.css?id=99c68e79538925b89839c9ae0bb971e1\">\n\n
        \           <style>\n            @font-face {\n  font-family: \"Montserrat
        Regular\";\n  src: local(sans-serif), url(\"/fonts/Montserrat/Montserrat-Regular.otf\")
        format(\"opentype\");\n  font-display: swap;\n}\n@font-face {\n  font-family:
        \"Montserrat ExtraBold\";\n  src: local(sans-serif), url(\"/fonts/Montserrat/Montserrat-ExtraBold.otf\")
        format(\"opentype\");\n  font-display: swap;\n}\n@font-face {\n  font-family:
        \"Montserrat Bold\";\n  src: local(sans-serif), url(\"/[...]
- request:
    method: get
    uri: https://www.nsastorage.com/facility-units/876
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Npg-Static:
      - 'no'
      X-Webhost:
      - web3
    body:
      encoding: UTF-8
      string: '{"data":{"html":{"units":"<div class=\"filtered-area theme grey border-both-solid\"
        id=\"facilityUnitsBlock\">\n\n    <div class=\"unit-select-item\" data-unit-size=\"small\">\n    <div
        class=\"pic-box\">\n        <figure class=\"part-img-holder img-contain\">\n    <img
        src=\"https:\/\/www.nsastorage.com\/images\/unit-sizes\/5x5.png\" loading=\"lazy\"
        alt=\"\" \/>\n<\/figure>\n        <a href=\"#\" data-button=\"size-guide\"
        class=\"part_button_2 micro left-icon bg-transparent unit-size-guide-button\"\n    data-size=\"small\"
        data-dimension=\"5x5\"\n    style=\"--bgicon: url(https:\/\/www.nsastorage.com\/images\/icons\/ruler.svg)\">\n    Size
        Guide\n<\/a>\n    <\/div>\n    <div class=\"box\">\n        <div class=\"\">\n            <div
        class=\"unit-select-item-detail\">\n                <div class=\"unit-select-item-detail-heading
        \"\n    role=\"heading\" aria-level=\"3\">\n    4 x 5\n<\/div>\n<p class=\"det
        \">\n    Small Storage\n<\/p>\n            <\/div>\n            <div class=\"unit-select-item-detail-2\">\n                <div
        class=\"part_item_price \">\n        $119<sub>\/mo<\/sub>\n    <\/div>\n\n    <div
        class=\"part_item_old_price \">\n                    <span class=\"stroke\">$184<\/span>\n                            In-Store\n                                        <\/div>\n                                <\/div>\n        <\/div>\n        <div>\n            <div
        class=\"unit-select-item-detail\">\n                <div class=\"unit-select-item-detail\">\n                    <div
        class=\"unit-select-item-detail-subtitle\" role=\"heading\" aria-level=\"4\">\n                Features\n            <\/div>\n                <ul
        clas[...]
