---
http_interactions:
- request:
    method: get
    uri: https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Webhost:
      - web1
      X-Npg-Static:
      - 'no'
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html lang=\"en\">\n    <head>\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n    <!--[if IE]>\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge,chrome=1\">\n    <![endif]-->\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1\"
        />\n    <title>Affordable Self Storage at 7752 Jackson St | NSA Self Storage</title>\n
        \   <meta name=\"description\" content=\"Discover the ultimate solution for
        all your storage needs at NSA Self Storage - Self Storage on 7752 Jackson
        St. Our secure and convenient facility offers a variety of storage options
        to help you create more space in your life. Trust us to keep your belongings
        safe and easily accessible whenever you need them.\" />\n    <link rel=\"canonical\"
        href=\"https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876\"
        />\n    <link rel=\"icon\" type=\"image/x-icon\" href=\"https://www.nsastorage.com/favicon/qMynMJDeAMqTcdh1KeUbYfiV2IVoWWv5DEt6kgGo.svg\">\n
        \   <script class=\"structured-data-widget\" type=\"application/ld+json\">{\"@context\":\"https:\\/\\/schema.org\",\"@type\":\"Organization\",\"name\":\"NSA
        Storage\",\"url\":\"https:\\/\\/www.nsastorage.com\",\"logo\":\"https:\\/\\/www.nsastorage.com\\/uploads\\/nsastorage\\/global_settings\\/o2DBJiv8j5JQwlBHONWpoYh1l1eIMji5T35pzaSW\\/hqI9BtgSQeoisO4ScHyMWsklcpNDXt44CRpDVv23.webp\",\"sameAs\":[\"https:\\/\\/www.nsastorage.com\",\"https:\\/\\/www.facebook.com\\/profile.php?id=61555660056437\",\"https:\\/\\/twitter.com\\/NSA_SelfStorage\",\"https:\\/\\/www.linkedin.com\\/company\\/nsa-storage\\/\",\"https:\\/\\/www.pinterest.com\\/NSA_Storage\\/\",\"https:\\/\\/www.instagram.com\\/nsa.selfstorage\\/\"],\"contactPoint\":[{\"@type\":\"ContactPoint\",\"telephone\":\"+1
        (844) 434-1150\",\"contactType\":\"customer service\",\"areaServed\":\"US\"}]}</script>\n
        \   <script class=\"structured-data-widget\" type=\"application/ld+json\">{\"@context\":\"https://schema.org\",\"@type\":\"SelfStorage\",\"address\":{\"@type\":\"PostalAddress\",\"addressLocality\":\"Paramount\",\"addressCountry\":\"US\",\"addressRegion\":\"CA\",\"postalCode\":\"90723\",\"streetAddress\":\"7752
        Jackson St\"},\"name\":\"SecurCare Self Storage | Jackson St\",\"image\":\"\",\"openingHoursSpecification\":[{\"@context\":\"https://schema.org\",\"@type\":\"OpeningHoursSpecification\",\"dayOfWeek\":[\"Monday\",\"Tuesday\",\"Wednesday\",\"Thursday\",\"Friday\",\"Saturday\",\"Sunday\"],\"closes\":\"00:00:00\",\"opens\":\"23:59:59\"}],\"telephone\":\"(562)
        268-4138\",\"url\":\"https://www.nsastorage.com/storage/california/storage-units-paramount/7752-Jackson-St-876\",\"priceRange\":\"$30
        and up\",\"review\":[{\"@type\":\"Review\",\"reviewRating\":{\"@type\":\"Rating\",\"ratingValue\":5,\"bestRating\":5,\"worstRating\":1},\"author\":{\"@type\":\"Person\",\"name\":\"pat
        h.\"},\"datePublished\":\"2024-12-07T15:46:00+00:00\"},{\"@type\":\"Review\",\"reviewRating\":{\"@type\":\"Rating\",\"ratingValue\":5,\"bestRating\":5,\"worstRating\":1},\"author\":{\"@type\":\"Person\",\"name\":\"Vinicio
        P.\"},\"datePublished\":\"2024-12-06T13:41:00+00:00\"},{\"@type\":\"Review\",\"reviewRating\":{\"@type\":\"Rating\",\"ratingValue\":5,\"bestRating\":5,\"worstRating\":1},\"author\":{\"@type\":\"Person\",\"name\":\"christian
        a.\"},\"datePublished\":\"2024-12-05T12:59:00+00:00\"},{\"@typ[...]
- request:
    method: get
    uri: https://www.nsastorage.com/facility-units/876
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Webhost:
      - web2
      X-Npg-Static:
      - 'no'
    body:
      encoding: UTF-8
      string: '{"data":{"html":{"units":"<div class=\"filtered-area theme grey border-both-solid\"
        id=\"facilityUnitsBlock\">\n                                    <div class=\"unit-select-item\"
        data-unit-size=\"small\">\n                <div class=\"pic-box\">\n                    <figure
        class=\"part-img-holder img-contain\">\n                        <img src=\"https:\/\/www.nsastorage.com\/images\/unit-sizes\/5x5.png\"
        loading=\"lazy\"\n                            alt=\"\" \/>\n                    <\/figure>\n                    <a
        href=\"\" class=\"part_button_2 micro left-icon bg-transparent unit-size-guide-button\"\n                        data-size=\"small\"
        data-dimension=\"5x5\"\n                        style=\"--bgicon: url(https:\/\/www.nsastorage.com\/images\/icons\/ruler.svg)\">Size
        Guide<\/a>\n                <\/div>\n                <div class=\"box\">\n                    <div>\n                        <div
        class=\"unit-select-item-detail\">\n                                                                                        <div
        class=\"unit-select-item-detail-heading\" role=\"heading\" aria-level=\"3\">\n                                    4
        x 5\n                                <\/div>\n                                                        <p
        class=\"det\">\n                                Small Storage\n                            <\/p>\n                        <\/div>\n                        <div
        class=\"unit-select-item-detail-2\">\n                                                                                                <div
        class=\"part_item_price\">\n        $120<sub>\/mo<\/sub>\n    <\/div>\n\n    <div
        class=\"part_item_old_price\">\n                    <span class=\"stroke\">$172<\/span>\n                            In-Store\n                        <\/div>\n                                                                                                                <\/div>\n                    <\/div>\n                    <div>\n                                                    <div
        class=\"unit-select-item-detail\">\n                                <div class=\"unit-select-item-detail-subtitle\"
        role=\"heading\" aria-level=\"4\">Features\n                                <\/div>\n                                <ul
        class=\"det-listing\">\n                                                                                                                        <li>\n                                                                                                    <i
        class=\"part_icon_2\"\n                                                        style=\"--bgicon:
        url(https:\/\/www.nsastorage.com\/images\/icons\/features\/first_floor.svg)\"><\/i>\n                                                                                                <span>1st
        Floor<\/span>\n                                            <\/li>\n                [...]
