---
http_interactions:
- request:
    method: get
    uri: https://www.nsastorage.com/sitemap.xml
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Npg-Static:
      - 'no'
      X-Webhost:
      - web2
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><urlset xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
                                <url>
                        <loc>https://www.nsastorage.com/</loc>
                        <lastmod>2024-12-06</lastmod>
                        <changefreq>weekly</changefreq>
                        <priority>1.0</priority>
                    </url>
                                        <url>
                        <loc>https://www.nsastorage.com/storage</loc>
                        <lastmod>2024-02-16</lastmod>
                        <changefreq>yearly</changefreq>
                        <priority>0.9</priority>
                    </url>
                                        <url>
                        <loc>https://www.nsastorage.com/contact-us</loc>
                        <lastmod>2024[...]
